{% extends 'base.html.twig' %}

{% block title %}Administrator{% endblock %}

{% block stylesheets %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="HieuTran">
    <link rel="shortcut icon" href="{{ asset('backend/images/favicon.png') }}">

    <!--Core CSS -->
    <link href="{{ asset('backend/bs3/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('backend/css/bootstrap-reset.css') }}" rel="stylesheet">
    <link href="{{ asset('backend/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ asset('backend/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('backend/css/style-responsive.css') }}" rel="stylesheet"/>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]>
    <script src="{{ asset('backend/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
{% endblock %}

{% block body %}
<section id="container">
    <!--header start-->
    {% include "backend/layout/header.html.twig" %}
    <!--header end-->

    <!--sidebar start-->
    {% include "backend/layout/nav.html.twig" %}
    <!--sidebar end-->

    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            {% block content %}{% endblock %}
        </section>
    </section>
    <!--main content end-->

</section>
{% endblock %}

{% block javascripts %}
    <!--Core js-->
    <script src="{{ asset('backend/js/jquery.js') }}"></script>
    <script src="{{ asset('backend/bs3/js/bootstrap.min.js') }}"></script>
    <script class="include" type="text/javascript" src="{{ asset('backend/js/jquery.dcjqaccordion.2.7.js') }}"></script>
    <script src="{{ asset('backend/js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ asset('backend/js/jQuery-slimScroll-1.3.0/jquery.slimscroll.js') }}"></script>
    <script src="{{ asset('backend/js/jquery.nicescroll.js') }}"></script>
    <!--Easy Pie Chart-->
    <script src="{{ asset('backend/js/easypiechart/jquery.easypiechart.js') }}"></script>
    <!--Sparkline Chart-->
    <script src="{{ asset('backend/js/sparkline/jquery.sparkline.js') }}"></script>
    <!--common script init for all pages-->
    <script src="{{ asset('backend/js/scripts.js') }}"></script>
{% endblock %}